body {
    font-family: "Spotify Circular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #ffff;
    /* color: #b3b3b3; */
    animation: wave 5s linear infinite;
}

/* Define the animation for the background */
@keyframes wave {
    0% {
        background-color: #38b664bf;
    }

    25% {
        background-color: #46937e8a;
    }

    50% {
        background-color: #f32fab93;
    }

    75% {
        background-color: #cbf65695;
    }

    100% {
        background-color: #1db9547f;
    }
}

h1,
h2 {
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}

.button-row {
    text-align: center;
    margin-top: 10px;
    color: #1DB954;

}

.button-row button {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    background-color: #ffff;
    /* color: #ffffff;
    background-color: #1db954; */
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
}

.button-row button:hover {
    background-color: #1ed760;
    color: #ffff;
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

table {
    border-collapse: collapse;
    width: 100%;
}

.grid {
    /* border: 1px solid #000; */
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    /* gap: 16px 16px; */
    grid-row-gap: 8px;
    /* set vertical gap to 16px */
    grid-column-gap: 8px;
    /* set horizontal gap to 16px */
    justify-content: center;
    margin: 0 auto;
    max-width: 750px;
    max-height: 750px;
    min-width: none;
    min-height: none;
}

/* .grid  */
.center {
    grid-column: 3 / 6;
    grid-row: 4 / 4;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
    font-family: "Spotify Text", sans-serif;
}


.grid img {
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;
    object-fit: contain;
}


/* Style the login button */
.login-button {
    display: block;
    margin: auto;
    background-color: #fff;
    border-radius: 50px;
    padding: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease-in-out;
}

.login-button:hover {
    transform: scale(1.1);
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

.login-button img {
    height: 40px;
    margin-right: 20px;
}

.login-button span {
    font-size: 18px;
    font-weight: 600;
    color: #1DB954;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1DB954;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px 20px;
    border-radius: 10px;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.info {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    margin-top: 850px;
    background-color: #1DB954;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 8px;
    background-color: #1DB954;
    color: white;
}

th {
    background-color: #1DB954;
    color: white;
}